In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('tseamcet.csv')

In [3]:
df.head(5)

,class_id,rank,gender,caste,region,seat_category,branch_code,branch,college_code,college,students_per_class,fee
0,1,71654,F,BC_B,OU,BC_D_GIRLS_UR,PHD,PHARM - D (M.P.C. STREAM),AVHP,"AVHP - AVANTHI INST OF PHARMSCI, HAYATHNAGAR",10,75000
1,1,72609,M,BC_E,OU,MUS_GEN_UR,CSE,COMPUTER SCIENCE AND ENGINEERING,AIZA,"AIZA - AIZZA COLLEGE OF ENGG AND TECHNOLOGY,...",21,40000
2,2,43546,M,OC,OU,MUS_GEN_UR,CSE,COMPUTER SCIENCE AND ENGINEERING,AIZA,"AIZA - AIZZA COLLEGE OF ENGG AND TECHNOLOGY,...",21,40000
3,1,38165,M,BC_B,OU,MUS_GEN_UR,MIN,MINING ENGINEERING,AIZA,"AIZA - AIZZA COLLEGE OF ENGG AND TECHNOLOGY,...",21,40000
4,2,71077,M,BC_D,OU,MUS_GEN_UR,MIN,MINING ENGINEERING,AIZA,"AIZA - AIZZA COLLEGE OF ENGG AND TECHNOLOGY,...",21,40000

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le = LabelEncoder()

In [6]:
numerical   = ['rank']
categorical =   ['gender', 'caste', 'region']
features = numerical + categorical
target   =   ['college_code']

In [7]:
X = df[features]
y = df[target]

In [8]:
feature_encoder = {}

for feature in categorical:
    X[feature] = le.fit_transform(X[feature])
    feature_encoder[feature] = dict(zip(le.classes_,range(len(le.classes_))))

<ipython-input-8-df95c234403b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[feature] = le.fit_transform(X[feature])

In [9]:
target_encoder = {}
for label in target:
    y[label] = le.fit_transform(y[label])
    target_encoder[label] = dict(zip(le.classes_,range(len(le.classes_))))

<ipython-input-9-9398b2e43b55>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y[label] = le.fit_transform(y[label])

In [10]:
X.head()

    rank  gender  caste  region
0  71654       0      1       2
1  72609       1      4       2
2  43546       1      5       2
3  38165       1      1       2
4  71077       1      3       2

In [11]:
y.head()

   college_code
0            13
1             3
2             3
3             3
4             3

In [12]:
tests = [[20000, 'M', 'OC', 'AU']]
testcases = []

for rank, gender, caste, region in tests:
    testcases.append([rank, feature_encoder['gender'][gender], feature_encoder['caste'][caste], feature_encoder['region'][region]])
    
print(testcases)

[[20000, 1, 5, 0]]

In [13]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(n_neighbors=10)

In [14]:
model.fit(X, y)

NearestNeighbors(n_neighbors=10)

In [19]:
distance, indices = model.kneighbors(testcases)

In [20]:
indices

array([[ 4323, 15194, 20188, 15947, 38664, 22708, 31606, 47690,  8379,
        42620]])

In [21]:
for college in df.values[indices][0]:
    print(college[6], college[9])

INF VASV  -  VASAVI COLLEGE OF ENGINEERING, HYDERABAD
CSE MREW  -  MALLA REDDY COLLEGE OF ENGINEERING FOR WOMEN, MAISAMMAGUDA
INF MRCW  -  MALLA REDDY ENGG COLLEGE FOR WOMEN (AUTONOMOUS), MAISAMMAGUDA
CSE GCTC  -  GEETANJALI COLLEGE OF ENGG AND TECHNOLOGY, KEESARA
CSE GURU  -  GURUNANAK INSTTECH CAMPUS, IBRAHIMPATAN
ANE IARE  -  INSTITUTE OF AERONAUTICAL ENGINEERING, DUNDIGAL
CIV SNIS  -  SREENIDHI INSTITUTE OF SCI AND TECHNOLOGY, GHATKESAR
CSE KUWL  -  KU COLLEGE OF ENGINEERING  AND TECHNOLOGY, WARANGAL
EEE JNKR  -  JNTU COLLEGE OF ENGINEERING  KARIMNAGAR, KARIMNAGAR
CSE CVRH  -  CVR COLLEGE OF ENGINEERING, IBRAHIMPATAN

In [26]:
import json

In [27]:
with open('feature_encoder.json', 'w') as f:
    f.write(json.dumps(feature_encoder))

In [29]:
with open('target_encoder.json', 'w') as f:
    f.write(json.dumps(target_encoder))

In [24]:
import pickle

In [25]:
filename = 'eamcet_model.sav'
pickle.dump(model, open(filename, 'wb'))